<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shnayder_gym">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shnayder_Gym">
        <activity android:name=".StepActivity5"></activity>
        <activity android:name=".StepActivity4" />
        <activity android:name=".StepActivityFemale" />
        <activity android:name=".StepActivityMale" />
        <activity android:name=".LessonsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".StepActivity2" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".StepActivity1" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>